@font-face {
  font-family: 'Shrikhand-Regular';
  src: url("../../Shrikhand/Shrikhand-Regular.ttf"); }
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("../../Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../Roboto/Roboto-bold.ttf"); }
body {
  max-width: 480px;
  margin: auto;
  font-family: 'Roboto-Regular';
  min-width: 350px; }

.progress {
  width: 90%;
  margin: auto;
  height: 10px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 5%; }
  .progress__bar {
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    animation-name: chargement;
    animation-duration: 3s;
    animation-delay: 500ms;
    animation-fill-mode: backwards; }
@keyframes chargement {
  0% {
    opacity: 1;
    background-color: #9356dc;
    transform: scaleX(0); }
  12% {
    transform: scaleX(0.3); }
  33% {
    transform: scaleX(0.4); }
  50% {
    background-color: #ff79da; }
  76% {
    transform: scaleX(0.95); }
  100% {
    opacity: 1;
    transform: scaleX(1);
    background-color: #99e2d0; } }
.container {
  animation-name: item;
  animation-duration: 500ms;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0.1; }
@keyframes item {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }
  .container .logo-lien {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .retour i {
    color: #000;
    font-size: 25px;
    position: relative;
    margin-left: -60px; }
  .container .logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; }
  .container .contain-search {
    background: #e5e5e5;
    width: 100%; }
    .container .contain-search .search {
      display: flex;
      justify-content: center;
      align-items: center; }
    .container .contain-search .position {
      font-size: 18px;
      margin-right: 30px; }
    .container .contain-search i {
      font-size: 20px;
      margin-right: 30px; }
  .container .description {
    background: #f4f4f4; }
    .container .description h1 {
      width: 75%;
      margin: auto;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      padding-top: 40px; }
    .container .description p {
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
      font-weight: 100;
      font-family: 'Roboto-Light';
      color: #666;
      letter-spacing: 1px; }
    .container .description a {
      text-decoration: none;
      display: flex; }
    .container .description .btn {
      background-image: linear-gradient(0deg, #9356dc, #ff79da);
      border: unset;
      margin: 10px auto 50px;
      width: 50%;
      max-width: 280px;
      box-shadow: 0 0 10px #666;
      text-align: center;
      color: #fff;
      font-size: 16px;
      padding: 17px 20px 17px 20px;
      cursor: pointer;
      border-radius: 40px;
      position: relative;
      z-index: 1; }
      .container .description .btn:hover::after {
        opacity: 1; }
      .container .description .btn::after {
        content: "";
        position: absolute;
        border-radius: 40px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px #5f5f5f;
        opacity: 0;
        z-index: -1;
        transition: opacity 750ms; }
  .container .fonctionnement {
    padding-top: 30px;
    padding-bottom: 30px; }
    .container .fonctionnement h3 {
      margin-left: 20px;
      font-size: 25px; }
    .container .fonctionnement .rules {
      width: 320px;
      background-color: #f4f4f4;
      margin: 25px auto;
      padding: 25px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: all 750ms; }
      .container .fonctionnement .rules .number {
        height: 25px;
        width: 25px;
        margin-left: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #9356dc;
        color: #fff; }
      .container .fonctionnement .rules i {
        position: absolute;
        margin-left: 30px;
        font-size: 18px;
        color: #666; }
      .container .fonctionnement .rules .rules-txt {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: #000;
        margin-left: 60px;
        position: absolute; }
      .container .fonctionnement .rules:hover {
        background: #e4d5f6; }
        .container .fonctionnement .rules:hover i {
          color: #9356dc;
          transition: color 500ms; }
  .container .resto {
    margin: 0 auto;
    padding-top: 30px;
    background: #f4f4f4;
    padding-bottom: 30px; }
    .container .resto a {
      text-decoration: none;
      color: #000; }
    .container .resto h3 {
      margin-left: 20px;
      font-size: 25px; }
    .container .resto .choix {
      display: block;
      margin: 0 auto 30px;
      background-color: #fff;
      max-width: 450px;
      width: 90%;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: all 500ms; }
      .container .resto .choix .image {
        display: block; }
        .container .resto .choix .image img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 170px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px; }
        .container .resto .choix .image .nouveau {
          position: absolute;
          right: 8%;
          margin-top: 10px;
          font-size: 15px;
          background: #99e2d0;
          padding: 7px 14px;
          color: #278870;
          border-radius: 5px; }
        .container .resto .choix .image .clignote {
          animation-duration: 1500ms;
          animation-name: clignotement;
          animation-iteration-count: infinite;
          transition: none; }
@keyframes clignotement {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1.0; } }
      .container .resto .choix .indication {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px; }
        .container .resto .choix .indication .titre {
          line-height: 10px;
          font-family: 'Roboto-Light'; }
          .container .resto .choix .indication .titre em {
            font-weight: bold;
            font-style: normal; }
        .container .resto .choix .indication .heart {
          font-size: 25px; }
          .container .resto .choix .indication .heart:hover .coeur {
            color: black;
            font-style: normal;
            transition: all 500ms; }
            .container .resto .choix .indication .heart:hover .coeur:hover {
              background: -webkit-linear-gradient(#9356dc, #ff79da);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: 900; }
  .container footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #282828; }
    .container footer ul .title {
      font-size: 20px;
      font-family: 'Shrikhand-Regular';
      color: #fff; }
    .container footer ul li {
      margin-top: 10px;
      list-style-type: none; }
      .container footer ul li a {
        text-decoration: none;
        font-size: 18px;
        font-family: 'Roboto-Light';
        color: #fff;
        transition: color 500ms; }
        .container footer ul li a:hover {
          color: #99e2d0; }
  .container .page-resto .present {
    width: 100%; }
    .container .page-resto .present img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 270px; }
  .container .page-resto .menu-resto {
    background-color: #f4f4f4;
    padding: 20px 0 20px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -40px;
    position: relative;
    /*h3 {
    	font-size: 17px;
    	font-weight: bold;
    }
    h4 {
    	font-family: 'Roboto-Light';
    	font-size: 14px;
    	color: $clr-txt-sec;
    }*/ }
    .container .page-resto .menu-resto .repas {
      padding-top: 20px; }
      .container .page-resto .menu-resto .repas .fadein {
        transform: scaleY(0);
        transform-origin: top;
        animation-name: fondu;
        animation-duration: 2s;
        animation-delay: 4.3s;
        animation-fill-mode: forwards; }
@keyframes fondu {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: scaleY(1); } }
      .container .page-resto .menu-resto .repas__oeuvre {
        color: #666;
        font-size: 20px;
        margin: 0 5%;
        width: 90px; }
        .container .page-resto .menu-resto .repas__oeuvre .brd {
          border: 2px solid #99e2d0;
          width: 45px; }
    .container .page-resto .menu-resto .btn {
      background-image: linear-gradient(0deg, #9356dc, #ff79da);
      border: unset;
      margin: 10px auto 50px;
      width: 50%;
      max-width: 280px;
      box-shadow: 0 0 10px #666;
      text-align: center;
      color: #fff;
      font-size: 16px;
      padding: 17px 20px 17px 20px;
      cursor: pointer;
      border-radius: 40px;
      position: relative;
      z-index: 1;
      margin-top: 60px;
      width: 30%; }
      .container .page-resto .menu-resto .btn:hover::after {
        opacity: 1; }
      .container .page-resto .menu-resto .btn::after {
        content: "";
        position: absolute;
        border-radius: 40px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px #5f5f5f;
        opacity: 0;
        z-index: -1;
        transition: opacity 750ms; }
    .container .page-resto .menu-resto .title {
      font-family: 'Shrikhand-Regular';
      font-size: 14px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container .page-resto .menu-resto .title .far {
        font-size: 25px; }
        .container .page-resto .menu-resto .title .far:hover {
          color: black;
          font-style: normal;
          transition: all 500ms; }
          .container .page-resto .menu-resto .title .far:hover:hover {
            background: -webkit-linear-gradient(#9356dc, #ff79da);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900; }
    .container .page-resto .menu-resto .item {
      width: 90%;
      margin: 15px auto 0;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 20px;
      height: 75px;
      position: relative; }
      .container .page-resto .menu-resto .item:hover .item__nom {
        width: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .container .page-resto .menu-resto .item:hover .item__nom--1 {
          font-size: 17px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .container .page-resto .menu-resto .item:hover .item__nom--2 {
          font-family: 'Roboto-Light';
          font-size: 14px;
          color: #666;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
      .container .page-resto .menu-resto .item:hover .item__prix {
        padding: 10px;
        transform: translateX(-10px);
        transition: transform 200ms; }
      .container .page-resto .menu-resto .item:hover .item__icon {
        transform: scaleX(1);
        transition: transform 200ms;
        transform-origin: right; }
        .container .page-resto .menu-resto .item:hover .item__icon--rot {
          transform: rotate(2turn);
          transition: transform 750ms; }
      .container .page-resto .menu-resto .item__nom {
        padding-left: 15px;
        line-height: 25px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .container .page-resto .menu-resto .item__nom--1 {
          font-size: 17px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .container .page-resto .menu-resto .item__nom--2 {
          font-family: 'Roboto-Light';
          font-size: 14px;
          color: #666;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
      .container .page-resto .menu-resto .item__prix {
        padding: 15px;
        width: 60px;
        text-align: right;
        font-size: 17px;
        font-weight: bold; }
      .container .page-resto .menu-resto .item__icon {
        background-color: #99e2d0;
        color: white;
        height: 75px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        right: 0;
        font-size: 25px;
        transform: scaleX(0); }

/*# sourceMappingURL=style.css.map */
