// Mise en page du corps du site
body {
	max-width: $tiny;
	margin: auto;
	font-family: 'Roboto-Regular';
}



// Logo du site
.logo-lien {
	display: flex;
	justify-content: center;
	align-items: center;


}
.retour {
		i {
		color: #000;
		font-size: 25px;
		position: relative;
		margin-left: -60px;
	}
}
.logo {
text-align: center;
padding-top: 20px;
padding-bottom: 10px;
}



// Localisation
.contain-search{
	background: $search;
	width: 100%;
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.position{
		font-size: $localisation;
		margin-right: 30px;
	}
	i {
		font-size: $localisation+2px;
		margin-right: 30px;
	}
}



//Description
.description {
	background: $clr-fond;
	h1 {
		width: 75%;
		margin: auto;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		padding-top: 40px;
	}
	p {
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 18px;
		font-weight: 100;
		font-family: 'Roboto-Light';
		color: #666;
		letter-spacing: 1px;
	}
	a {
		text-decoration: none;
		display: flex;
	}
	.btn{
		background-image: $clr-btn;
		border: unset;
		margin: 10px auto 50px;
		width: 50%;
		box-shadow: 0 0 10px #666;
		text-align: center;
		color: #fff;
		font-size: 16px;
		padding: 17px 20px 17px 20px;
		cursor: pointer;
		border-radius: 40px;
		position: relative;
		z-index: 1;
			&:hover {
			&::after {
				opacity: 1;
			}
		}
		&::after {
			content: "";
			position: absolute;
			border-radius: 40px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255,255,255,0.2);
			box-shadow: 0 0 10px #5f5f5f;
			opacity: 0;
			z-index: -1;
			transition: opacity 750ms;
		}
	}
}


// Fonctionnement du site
.fonctionnement {
	padding-top: 30px;
	padding-bottom: 30px; 
	h3 {
		margin-left: 20px;
		font-size: 25px;
	}
	.rules {
		@include rules;
		.number {
			@include number;
		}
		i {
			position: absolute;
			margin-left: 30px;
			font-size: 18px;
			color: #666;
		}
		.rules-txt {
			@include rules-txt;
		}
		transition: all 750ms;
		&:hover {
			background: lighten($clr-prim, 30%);
			i {
				color: $clr-prim;
				transition: color 500ms;
			}
		}
	}
}

// Restaurants
.resto {
	margin: 0 auto;
	padding-top: 30px;
	background: $clr-fond;
	padding-bottom: 30px;
	a {
		text-decoration: none;
		color: #000;

	}
	h3 {
		margin-left: 20px;
		font-size: 25px;
	}
	.choix {
		display: block;
		margin: 0 auto 30px;
		background-color: #fff;
		max-width: 450px;
		width: 90%;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		transition: all 500ms;
		
		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 170px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		.nouveau {
			position: absolute;
			right: 30px;
			margin-top: 15px;
			background: $clr-ter;
			padding: 8px 15px;
			color: darken($clr-ter,40%);
			border-radius: 5px;
		}
		.clignote {
			animation-duration: 2s;
			animation-name: clignotement;
			animation-iteration-count: infinite;
			transition: none;
		}
		@keyframes clignotement {
			0% { opacity: 1; }
			50% { opacity: 0; }
			100% { opacity: 1; }
		}
		.indication {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 0 20px;
			.titre {
				line-height: 10px;
				font-family: 'Roboto-Light';
				em {
					font-family: 'Roboto-Bold';
					font-style: normal;
				}
			}


			.heart {
					color: #000;
					position: relative;
					z-index: 100;
					font-size: 25px;
					
					.fas 
					{
						opacity: 0;
						position: relative;
						cursor: pointer;
						transition: all 500ms;
						&:hover {
							transform: scale(1.1);
							opacity: 1;
							background: -webkit-linear-gradient($clr-prim, $clr-sec);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							border: unset;
							font-weight: 900;
						}
					}
					.far {
						opacity: 1;
						position: absolute;
						}
			}
		}
	}
}


//footer
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(40,40,40,1);
	
	ul {
		.title {
			font-size: 20px;
			font-family: 'Shrikhand-Regular';
			color: #fff;
		}
		li {
			margin-top: 10px;
			list-style-type: none;
			a {
				text-decoration: none;
				font-size: 18px;
				color: #fff;
				transition: color 500ms;
				&:hover {
					color: $clr-ter;
				}
			}
		}
	}

}


// page annexes
.present {
	width: 100%;
	img {			
		object-fit: cover;
		object-position: center;
		width: 100%;
			height: 270px;
	}
}