// Mise en page du corps du site
body {
	max-width: $tiny;
	margin: auto;
	font-family: 'Roboto-Regular';
}

// Logo du site
.logo {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

// Localisation
.contain-search{
	background: $search;
	width: 100%;
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.position{
		font-size: $localisation;
		margin-right: 30px;
	}
	i {
		font-size: $localisation+2px;
		margin-right: 30px;
	}
}

//Description
.description {
	background: rgb(244,244,244);
	h1 {
		width: 75%;
		margin: auto;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		padding-top: 40px;
	}
	p {
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;
		font-size: 18px;
		font-weight: 100;
		font-family: 'Roboto-Light';
	}
	a {
		text-decoration: none;
		display: flex;
	}
	.btn{
		background-color: #666;
		background-image: $clr-btn;
		border: unset;
		margin: 10px auto 50px;
		width: 50%;
		box-shadow: 0 0 10px #666;
		text-align: center;
		color: #fff;
		font-size: 16px;
		padding: 17px 20px 17px 20px;
		cursor: pointer;
		border-radius: 40px;
		position: relative;
		z-index: 1;
			&:hover {
			&::after {
				opacity: 1;
			}
		}
		&::after {
			content: "";
			position: absolute;
			border-radius: 40px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255,255,255,0.1);
			box-shadow: 0 0 10px #5f5f5f;
			opacity: 0;
			z-index: -1;
			transition: opacity 400ms;
		}
	}
}

.fonctionnement {
	font-size: 20px;
	h3 {
		margin-left: 20px;
		margin-top: 45px;
	}
	a {
		text-decoration: none;
		color: #000;
		text-align: center;
	}
	.number {
		background-color: $clr-prim;
		color: #fff;
		font-weight: bold;
		text-align: left;
	}
}
