// mixin pour les boutons de la partie fonctionnement
@mixin steps{
	width: 290px;
	background-color: $clr-bg-light-grey;
	margin: 25px auto;
	padding: 25px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
@mixin steps-number {
	height: 25px;
	width: 25px;
	margin-left: -12px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $clr-prim;
	color: #fff;
}
@mixin steps-txt {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	margin-left: 60px;
	position: absolute;
}
@mixin like-icon {
	color: black;
	font-style: normal;
	transition: all 500ms;
	&:hover {
		background: -webkit-linear-gradient($clr-prim, $clr-sec);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 900;
	}
}
@mixin button {
	background-image: $clr-btn;
	border: unset;
	margin: 10px auto 50px;
	width: 50%;
	max-width: 280px;
	box-shadow: 0 0 10px #666;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding: 17px 20px 17px 20px;
	cursor: pointer;
	border-radius: 40px;
	position: relative;
	z-index: 1;
	&:hover {
		&::after {
			opacity: 1;
		}
	}
	&::after {
		content: "";
		position: absolute;
		border-radius: 40px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(255,255,255,0.2);
		box-shadow: 0 0 10px #5f5f5f;
		opacity: 0;
		z-index: -1;
		transition: opacity 750ms;
	}
}
@mixin txt-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@mixin grid-xl {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(1, 1fr);
	.meal-one {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.meal-two {
		grid-column: 2/3;
		grid-row: 1/2;
	}	
	.meal-three {
		grid-column: 3/4;
		grid-row: 1/2;
	}
}
@mixin grid-m {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(3, 1fr);
	.meal-one {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.meal-two {
		grid-column: 2/4;
		grid-row: 2/3;
	}	
	.meal-three {
		grid-column: 3/5;
		grid-row: 3/4;
	}
}